services:
  - type: web
    name: exampro-api
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    plan: free
    autoDeploy: true
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: NODE_ENV
        value: production
      - key: FRONTEND_ORIGIN
        sync: false
  - type: static
    name: exampro-web
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: build
    envVars:
      - key: REACT_APP_API_URL
        fromService:
          type: web
          name: exampro-api
          property: url
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
